
.DS_Store
.Rproj.user
data/simulation_results_K_t1500.hdf5
*.hdf5
/Master's_Xinhai
data/helius.sav
data/data_lea.csv
/presentation
presentation/feedback_role.qmd
code/find_example_net.R
code/dat_analysis_Xinhai.R
*.pper
/.Rproj.user
comb_avg_res.rds
comb_res.rds
